@using Microsoft.AspNetCore.Http;
@using  HangManGame.Models;
@model HangManGame.Models.Game;

@{
    ViewData["Title"] = "Hang Man Game";
    string guess = Context.Session.GetString("Guess");
    string username = Context.Session.GetString("User");
    string CorrectlyGuessedLetters = Context.Session.GetString("CorrectlyGuessedLetters");


    Player player = Player.Register(username);
    Game game = @Model != null ? @Model : new Game() { CorrectlyGuessed = new List<string>() };
}





<div class="page-header">
    <h3> Welcome @player.UserName</h3>
</div>



<div class="container">
    <p>Please enter your guess. This is Game/Index</p>
   
        <form action="/game/submitguess" method="POST">
            <input type="text" name="guess" autofocus/>
            <input type="submit" />
        </form>
        <p>You guessed: @{@game.Guess}</p>
        <p> @game.Answer</p>

        <p>Lives remaining: @{@game.NumberOfGuesses}</p>


        @for (int i = 0; i < game.CorrectlyGuessed.Count; i++)
        {
            <input type="hidden" asp-for="@game.CorrectlyGuessed[i]" 
                   />}


        @for (int i = 0; i < game.IncorrectlyGuessed.Count; i++)
        {
            <input type="hidden" asp-for="@game.IncorrectlyGuessed[i]" />}


        @for (int i = 0; i < game.LettersAvailable.Count; i++)
        {
            <input type="hidden" asp-for="@game.LettersAvailable[i]" />}


        <p>letters correctly guessed: </p>
        <ul>
            @foreach (var correctGuess in game.CorrectlyGuessed)
            {
                <li>@correctGuess</li>
            }
        </ul>

        <p>letters Incorrectly guessed: </p>
        <ul>
            @foreach (var incorrectGuess in game.IncorrectlyGuessed)
            {
                <li>@incorrectGuess</li>
            }
        </ul>

      

</div>


<div class="container">

</div>

/*
Incorrect Guesses
Win or Loose messege
*/ 